# Курсовая работа № 2
## Аналитика. Начальный уровень

Курсовая работа состоит из двух частей – обязательной и дополнительной. **Для зачета необходимо выполнение только первой части.** Выполнение второй части может потребовать дополнительные знания Python.

- [Часть первая](#Часть-первая)
- [Часть вторая](#Часть-вторая)

## Часть первая


Перед вами стоит задача – подготовить аналитический отчет для HR-отдела. На основании проведенной аналитики предполагается составить рекомендации для отдела кадров по стратегии набора персонала, а также по взаимодействию с уже имеющимися сотрудниками.
<br><br> В базе данных лежит набор таблиц, которые содержат данные о сотрудниках вымышленной компании.
Сделайте обзор штата сотрудников компании. Составьте набор предметов исследования, а затем проверьте их на данных. Вся аналитика должна быть выполена с помощью SQL. Впоследствии данные можно визуализировать, однако финальные датафреймы для графиков также должны быть подготовлены с помощью SQL. <br><br>

Примеры гипотез:
1. Есть зависимость между `perfomance score` и тем, под чьим руководством работает сотрудник.
2. Есть зависимость между продолжительностью работы в компании и семейным положением сотрудника.
2. Есть зависимость между продолжительностью работы в компании и возрастом сотрудника.

<br><br>
Параметры для подключения следующие: хост – `dsstudents.skillbox.ru`, порт – `5432`, имя базы данных – `human_resources`, пользователь – `readonly`, пароль – `6hajV34RTQfmxhS`. Таблицы, доступные для анализа, – `hr_dataset`, `production_staff`, `recruiting_costs`, `salary_grid`.

In [1]:
import pandas as pd
import sqlalchemy
import psycopg2

In [2]:
conn_1 = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/human_resources'

engine = sqlalchemy.create_engine(conn_1)
connect = engine.connect()

In [3]:
inspector = sqlalchemy.inspect(engine)
inspector.get_table_names()

['hr_dataset_new',
 'hr_dataset',
 'production_staff_new',
 'temp_tbl1',
 'recruiting_costs_new',
 'temp_tbl2',
 'temp_tbl3',
 'my_years',
 'sum_race',
 'my_month',
 'my_dates',
 'pfm_version',
 'pfm_report',
 'pfm_form',
 'salary_grid_new',
 'production_staff',
 'amount_emps_new',
 'temp_tbl',
 'recruiting_costs',
 'pfm_link',
 'pfm_value_list',
 'pfm_value',
 'pfm_section',
 'pfm_attribute',
 'temp_tbl4',
 'hr_dataset_sql',
 'salary_grid',
 'df_hr_dataset',
 'amount_emps']

## Рассмотрим таблицу hr_dataset

In [4]:
df_hr_dataset = pd.read_sql("select * from hr_dataset", connect)
print(df_hr_dataset.shape)
df_hr_dataset.head(3)

(310, 29)

,id,Employee Name,Employee Number,marriedid,maritalstatusid,genderid,empstatus_id,deptid,perf_scoreid,age,...,Date of Hire,Days Employed,Date of Termination,Reason For Term,Employment Status,department,position,Manager Name,Employee Source,Performance Score
0,1,"Brown, Mia",1103024456,1,1,0,1,1,3,30,...,2008-10-27,3317,None,N/A - still employed,Active,Admin Offices,Accountant I,Brandon R. LeBlanc,Diversity Job Fair,Fully Meets
1,2,"LaRotonda, William",1106026572,0,2,1,1,1,3,34,...,2014-01-06,1420,None,N/A - still employed,Active,Admin Offices,Accountant I,Brandon R. LeBlanc,Website Banner Ads,Fully Meets
2,3,"Steans, Tyrone",1302053333,0,0,1,1,1,3,31,...,2014-09-29,1154,None,N/A - still employed,Active,Admin Offices,Accountant I,Brandon R. LeBlanc,Internet Search,Fully Meets

По этитм данным можно определить:
1) Количество новых сотрудников нанятых в разных годах ('id', 'Date of Hire')
2) Performance Score от Days Employed
3) Performance Score от department
4) Performance Score от position
5) position от age

In [5]:
# pd.read_sql('SELECT SUBSTRING("position", 1, 4) FROM hr_dataset', connect)

In [6]:
# Есть зависимость количество новых сотрудников от года набора ('id', 'Date of Hire')
df_hr_dataset_1 = pd.read_sql('SELECT sum(id) as id_amount,\
                              EXTRACT(YEAR FROM "Date of Hire") as Year\
                              FROM hr_dataset\
                              GROUP BY Year\
                              ORDER BY Year', connect)
df_hr_dataset_1

    id_amount    year
0         283  2006.0
1         421  2007.0
2         272  2008.0
3         823  2009.0
4        1303  2010.0
5       14196  2011.0
6        6672  2012.0
7        7497  2013.0
8        9690  2014.0
9        2828  2015.0
10       2375  2016.0
11       1845  2017.0

Зависимость есть - количество растёт к 2011 году, потом падает с промежуточным локальным пиком в 2014 году.

In [7]:
# Выявим соовтествия "Performance Score" и "perf_scoreid"
df_hr_dataset_performance_id = pd.read_sql('SELECT AVG("perf_scoreid") as perf_score_id,\
                                "Performance Score" as Performance\
                                FROM hr_dataset\
                                GROUP BY Performance\
                                ORDER BY perf_score_id', connect)
df_hr_dataset_performance_id

   perf_score_id               performance
0            0.0              90-day meets
1            1.0                       PIP
2            2.0         Needs Improvement
3            3.0               Fully Meets
4            4.0                   Exceeds
5            5.0               Exceptional
6            9.0  N/A- too early to review

In [8]:
# 2) Есть зависимость Performance Score от Days Employed
df_hr_dataset_2 = pd.read_sql('SELECT ROUND(AVG("Days Employed")) as avg_days,\
                                "Performance Score" as Performance\
                                FROM hr_dataset\
                                GROUP BY Performance\
                                ORDER BY avg_days', connect)
df_hr_dataset_2

   avg_days               performance
0     552.0  N/A- too early to review
1    1056.0              90-day meets
2    1366.0         Needs Improvement
3    1406.0               Fully Meets
4    1427.0                       PIP
5    1627.0                   Exceeds
6    1701.0               Exceptional

Зависимость есть - чем дольше человек работает в компании, тем выше его Performance Score

In [9]:
# 3) Существует зависимость между Performance Score (perf_scoreid) от department
# (не считая уровень "N/A- too early to review")
df_hr_dataset_3 = pd.read_sql('SELECT ROUND(AVG(perf_scoreid), 1) as perf_scoreid_avg,\
                                "department" as department\
                                FROM hr_dataset\
                                WHERE "perf_scoreid" != 9\
                                GROUP BY department\
                                ORDER BY perf_scoreid_avg', connect)
df_hr_dataset_3

   perf_scoreid_avg            department
0               2.6         Admin Offices
1               2.6                 IT/IS
2               2.6  Software Engineering
3               2.7     Production
4               2.7                 Sales
5               3.0      Executive Office

В "Executive Office" работают наиболее компетентные люди с уровнем "полностью соответсвуют". У всех остальных уроень требующий доподготовки.

In [10]:
# 4) Существует зависимость Performance Score от position
df_hr_dataset_4 = pd.read_sql('SELECT ROUND(AVG(perf_scoreid), 1) as perf_scoreid_avg,\
                                "position" as position\
                                FROM hr_dataset\
                                WHERE "perf_scoreid" != 9\
                                GROUP BY position\
                                ORDER BY perf_scoreid_avg', connect)
df_hr_dataset_4

    perf_scoreid_avg                      position
0                1.5                Sr. Accountant
1                2.0          Sr. Network Engineer
2                2.0              Network Engineer
3                2.0            IT Manager - Infra
4                2.0                       Sr. DBA
5                2.2        Database Administrator
6                2.6             Software Engineer
7                2.7            Area Sales Manager
8                2.7                 Sales Manager
9                2.7       Production Technician I
10               2.8      Production Technician II
11               3.0               President & CEO
12               3.0                  Accountant I
13               3.0  Software Engineering Manager
14               3.0            Production Manager
15               3.0           Senior BI Developer
16               3.0       Shared Services Manager
17               3.0                  BI Developer
18               3.0      Administrative Assistant
19               3.0                Data Architect
20               3.0               IT Manager - DB
21               3.0                   BI Director
22               3.0             Director of Sales
23               3.3                    IT Support
24               4.0          IT Manager - Support
25               4.0        Director of Operations
26               5.0                   IT Director
27               5.0                           CIO

Зависимость есть, на уровнях "CIO" и "IT Director" самые компетентные люди.
на уровне Sr. Accountant наименее компетентные

In [11]:
# 5) Существет зависимость position от age
df_hr_dataset_5 = pd.read_sql('SELECT ROUND(AVG(age), 0) as age_avg,\
                                "position" as position\
                                FROM hr_dataset\
                                GROUP BY position\
                                ORDER BY age_avg', connect)
df_hr_dataset_5

    age_avg                      position
0      30.0                 Sales Manager
1      31.0      Administrative Assistant
2      31.0            IT Manager - Infra
3      32.0                  Accountant I
4      33.0                  BI Developer
5      33.0       Shared Services Manager
6      34.0              Network Engineer
7      34.0             Software Engineer
8      35.0        Database Administrator
9      35.0                Sr. Accountant
10     35.0        Director of Operations
11     37.0                   IT Director
12     38.0                           CIO
13     38.0           Senior BI Developer
14     39.0                    IT Support
15     39.0       Production Technician I
16     39.0      Production Technician II
17     40.0            Area Sales Manager
18     43.0            Production Manager
19     43.0                       Sr. DBA
20     45.0                Data Architect
21     45.0          Sr. Network Engineer
22     46.0                   BI Director
23     47.0          IT Manager - Support
24     50.0               IT Manager - DB
25     51.0  Software Engineering Manager
26     52.0             Director of Sales
27     63.0               President & CEO

Самые старые сотрудники на должностях "President & CEO " и "Director of Sales", самые молодые на уровне "Sales Manager"

## Рассмотрим таблицу production_staff

In [12]:
df_production_staff = pd.read_sql("select * from production_staff", connect)
print(df_production_staff.shape)
df_production_staff.head(3)

(256, 16)

,id,Employee Name,Race Desc,Date of Hire,TermDate,Reason for Term,Employment Status,Department,Position,Pay,Manager Name,Performance Score,Abutments/Hour Wk 1,Abutments/Hour Wk 2,Daily Error Rate,90-day Complaints
0,1,"Albert, Michael",White,2011-08-01,None,N/A - still employed,Active,Production,Production Manager,$54.50,Elisa Bramante,Fully Meets,0.0,0.0,0.0,0.0
1,2,"Bozzi, Charles",Asian,2013-09-30,2014-08-07,retiring,Voluntarily Terminated,Production,Production Manager,$50.50,Elisa Bramante,Fully Meets,0.0,0.0,0.0,0.0
2,3,"Butler, Webster L",White,2016-01-28,None,N/A - still employed,Active,Production,Production Manager,$55.00,Elisa Bramante,Exceeds,0.0,0.0,0.0,0.0

По этитм данным можно определить:
1) Pay от Performance Score
2) Pay от Race Desc
3) Position от Race Desc

In [13]:
# 1) Существет зависимость Pay от Performance Score
production_staff_1 = pd.read_sql('SELECT ROUND(AVG("Pay"::numeric)) as Pay_avg,\
                                "Performance Score" as Performance_Score\
                                FROM production_staff\
                                GROUP BY Performance_Score\
                                ORDER BY Pay_avg', connect)
production_staff_1

   pay_avg         performance_score
0     21.0  N/A- too early to review
1     22.0                       PIP
2     22.0              90-day meets
3     23.0               Fully Meets
4     23.0               Exceptional
5     24.0         Needs Improvement
6     24.0                   Exceeds
7      NaN                      None

Зависимость есть, чем выше performance_score тем выше оплата, но отличаются они менее чем на 20%.

In [14]:
# 2) Зависимость Pay от Race Desc
production_staff_2 = pd.read_sql('SELECT ROUND(AVG("Pay"::numeric)) as Pay_avg,\
                                "Race Desc" as Race_Desc\
                                FROM production_staff\
                                GROUP BY Race_Desc\
                                ORDER BY Pay_avg', connect)
production_staff_2

   pay_avg                         race_desc
0     19.0                 Two or more races
1     22.0  American Indian or Alaska Native
2     23.0         Black or African American
3     23.0                             White
4     23.0                             Asian
5     32.0                          Hispanic
6      NaN                              None

Есть 2 недооценённые расы и одна переоценённая.

In [15]:
# 3) Существет зависимость Position от Race Desc
production_staff_3 = pd.read_sql('SELECT COUNT("Race Desc") as Race_Desc_amount,\
                                "Race Desc" as Race_Desc,\
                                "Position" as Position\
                                FROM production_staff\
                                GROUP BY Position, Race_Desc\
                                ORDER BY Position, Race_Desc_amount DESC', connect)
production_staff_3

,race_desc_amount,race_desc,position
0,9,White,Production Manager
1,2,Asian,Production Manager
2,2,Black or African American,Production Manager
3,1,Hispanic,Production Manager
4,91,White,Production Technician I
5,20,Black or African American,Production Technician I
6,16,Asian,Production Technician I
7,8,Two or more races,Production Technician I
8,1,American Indian or Alaska Native,Production Technician I
9,1,Hispanic,Production Technician I
10,40,White,Production Technician II
11,9,Black or African American,Production Technician II
12,4,Asian,Production Technician II
13,2,American Indian or Alaska Native,Production Technician II
14,2,Two or more races,Production Technician II
15,1,Hispanic,Production Technician II
16,0,None,None

Зависимости нет, пропорции почти не зависят от должности

## рассмотрим таблицу recruiting_costs

In [16]:
df_recruiting_costs = pd.read_sql("select * from recruiting_costs", connect)
print(df_recruiting_costs.shape)
df_recruiting_costs.head(3)

(22, 15)

,id,Employment Source,January,February,March,April,May,June,July,August,September,October,November,December,Total
0,1,Billboard,520,520,520,520,0,0,612,612,729,749,910,500,6192
1,2,Careerbuilder,410,410,410,820,820,410,410,820,820,1230,820,410,7790
2,3,Company Intranet - Partner,0,0,0,0,0,0,0,0,0,0,0,0,0

In [17]:
# Определим среднию оплату каждому источнику сотрудников (не учитывая месяцы, где им не платили)
recruiting_costs_1 = pd.read_sql('SELECT\
                                "Employment Source" as Employment_Source,\
                                (\
                                 "January "+\
                                 "February"+\
                                 "March"+\
                                 "April"+\
                                 "May"+\
                                 "June"+\
                                 "July"+\
                                 "August"+\
                                 "September"+\
                                 "October"+\
                                 "November"+\
                                 "December"\
                                )/\
                                (\
                                case when "January "=0 then 0 else 1 end +\
                                case when "February"=0 then 0 else 1 end +\
                                case when "March"=0 then 0 else 1 end +\
                                case when "April"=0 then 0 else 1 end +\
                                case when "May"=0 then 0 else 1 end +\
                                case when "June"=0 then 0 else 1 end +\
                                case when "July"=0 then 0 else 1 end +\
                                case when "August"=0 then 0 else 1 end +\
                                case when "September"=0 then 0 else 1 end +\
                                case when "October"=0 then 0 else 1 end +\
                                case when "November"=0 then 0 else 1 end +\
                                case when "December"=0 then 0 else 1 end\
                                ) as avg_pay\
                                FROM recruiting_costs\
                                WHERE "Total" != 0\
                                ORDER BY avg_pay DESC', connect)
recruiting_costs_1

                         employment_source  avg_pay
0                       Diversity Job Fair     5010
1                     On-campus Recruiting     2500
2                                 MBTA ads      915
3                       Newspager/Magazine      690
4                                    Other      665
5                            Careerbuilder      649
6                                Billboard      619
7                       Website Banner Ads      595
8                              Monster.com      480
9   Social Networks - Facebook Twitter etc      464
10       Search Engine - Google Bing Yahoo      431
11                  Pay Per Click - Google      292
12                           Pay Per Click      110
13                    Professional Society      100

In [18]:
# Гипотиза: Месяц связан с стоимостью привлечени персонала
recruiting_costs_2 = pd.read_sql('SELECT\
                                 ROUND(AVG("January ")) as January_AVG,\
                                 ROUND(AVG("February")) as February_AVG,\
                                 ROUND(AVG("March")) as March_AVG,\
                                 ROUND(AVG("April")) as April_AVG,\
                                 ROUND(AVG("May")) as May_AVG,\
                                 ROUND(AVG("June")) as June_AVG,\
                                 ROUND(AVG("July")) as July_AVG,\
                                 ROUND(AVG("August")) as August_AVG,\
                                 ROUND(AVG("September")) as September_AVG,\
                                 ROUND(AVG("October")) as October_AVG,\
                                 ROUND(AVG("November")) as November_AVG,\
                                 ROUND(AVG("December")) as December_AVG\
                                FROM recruiting_costs\
                                WHERE "Total" != 0', connect)
recruiting_costs_2.T.sort_values(by=0, ascending=False)
recruiting_costs_2

,january_avg,february_avg,march_avg,april_avg,may_avg,june_avg,july_avg,august_avg,september_avg,october_avg,november_avg,december_avg
0,314.0,717.0,453.0,420.0,372.0,473.0,404.0,798.0,629.0,520.0,470.0,464.0

In [19]:
# Гипотиза: Месяц связан с стоимостью привлечени персонала
recruiting_costs_21 = pd.read_sql('SELECT\
                                 CASE WHEN 1!=0 THEN ROUND(AVG("January ")) END,\
                                 CASE WHEN 1!=0 THEN ROUND(AVG("February")) END\
                                FROM recruiting_costs\
                                WHERE "Total" != 0', connect)
# recruiting_costs_2.T.sort_values(by=0, ascending=False)
recruiting_costs_21

    case   case
0  314.0  717.0

Из анализа полученных данных видно, что наибольша стоимость привлечения персонала в Августе, а наименьшая в Январе

## Проанализируем таблицу salary_grid

In [20]:
df_salary_grid = pd.read_sql("select * from salary_grid", connect)
print(df_salary_grid.shape)
df_salary_grid.head(3)

(12, 8)

,id,Position,Salary Min,Salary Mid,Salary Max,Hourly Min,Hourly Mid,Hourly Max
0,1,Administrative Assistant,30000,40000,50000,14.42,19.23,24.04
1,2,Sr. Administrative Assistant,35000,45000,55000,16.83,21.63,26.44
2,3,Accountant I,42274,51425,62299,20.32,24.72,29.95

По этитм данным можно определить:
    1) Hourly Mid от Position
    2) Salary Mid от Position
  Обе метрики определят зависимость оплаты труда от должности

In [21]:
#     1) Hourly Mid от Position
salary_grid_1 = pd.read_sql('SELECT ROUND(AVG("Hourly Mid")) as Hourly_Mid,\
                                    "Position"\
                            FROM salary_grid\
                            GROUP BY "Position"\
                            ORDER BY Hourly_Mid DESC', connect)
salary_grid_1

    hourly_mid                      Position
0         56.0                       Sr. DBA
1         48.0          Sr. Network Engineer
2         37.0                Sr. Accountant
3         33.0        Database Administrator
4         32.0              Network Engineer
5         30.0                 Accountant II
6         26.0    Lead Production Technician
7         25.0                  Accountant I
8         23.0      Production Technician II
9         22.0  Sr. Administrative Assistant
10        19.0       Production Technician I
11        19.0      Administrative Assistant

In [22]:
#     2) Salary Mid от Position
salary_grid_2 = pd.read_sql('SELECT ROUND(AVG("Salary Mid")) as Salary_Mid,\
                                    "Position"\
                            FROM salary_grid\
                            GROUP BY "Position"\
                            ORDER BY Salary_Mid DESC', connect)
salary_grid_2

    salary_mid                      Position
0     116007.0                       Sr. DBA
1      99458.0          Sr. Network Engineer
2      76988.0                Sr. Accountant
3      68306.0        Database Administrator
4      66850.0              Network Engineer
5      62158.0                 Accountant II
6      55000.0    Lead Production Technician
7      51425.0                  Accountant I
8      48000.0      Production Technician II
9      45000.0  Sr. Administrative Assistant
10     40000.0       Production Technician I
11     40000.0      Administrative Assistant

Зависимость есть. На должности "Sr. DBA" самая большая зарплата, а на должности "Administrative Assistant" самая маленькая

----------------------------------------------------------------------------------------

# Часть вторая

Перед вами стоит задача – подготовить аналитический ответ для SMM-отдела компании Skillbox. <br> Объектом анализа является  [паблик Skillbox Вконтакте](https://vk.com/skillbox_education). <br> <br> 
Подключитесь к  API VK и выгрузите посты со стены паблика Skillbox за интересующий период (определите самостоятельно и обоснуйте). Проанализируйте влияние различных факторов (например, времени публикации) на вовлеченность пользователей (количество лайков, комментариев, голосов в опросах). Сделайте аналитику по рубрикам (примеры рубрик: дизайн-битва, игра по управлению), которые есть в паблике. Выбрать нужные посты можно с помощью регулярных выражений. Составьте перечень рекомандаций для SMM-отдела по итогам анализа. <br> <br> 

Дополнительные инструкции по работе с API VK расположены [здесь](https://colab.research.google.com/drive/1rRaTay-OSPLAOX8V9UaFvTiAciVtp2s3).

In [23]:
import requests
import json

import urllib.request as req

def getjson(url):
    response = requests.get(url)
    response = response.json()
    return response

In [24]:
# 7819968

In [25]:
vk_token = '98109ab0d5984f06d31927c9559e60fc9e045cb53705ed405d3f25d1405d7102fcd97fdfbeee25c020de9'

url = 'https://api.vk.com/method/account.getProfileInfo?access_token=' + str(vk_token) + '&v=5.92'
response = getjson(url)

print(response)

{'response': {'first_name': 'Дима', 'id': 2552617, 'last_name': 'Юрлин', 'home_town': 'Климовск', 'status': '', 'bdate': '17.9.1990', 'bdate_visibility': 1, 'city': {'id': 1, 'title': 'Москва'}, 'country': {'id': 1, 'title': 'Россия'}, 'phone': '+7 *** *** ** 99', 'relation': 0, 'sex': 2}}

In [26]:
# получаем последнюю запись из паблика Skillbox Вконтакте
url = 'https://api.vk.com/method/wall.get?access_token=' + str(vk_token) + '&owner_id=-66669811&count=1&v=5.92'
response = getjson(url)

response
# посмотрим из чего состоит полученный json

{'response': {'count': 3480,
  'items': [{'id': 164212,
    'from_id': -66669811,
    'owner_id': -66669811,
    'date': 1618586015,
    'marked_as_ads': 0,
    'post_type': 'post',
    'text': 'Как стать UX-дизайнером, если ты работаешь то строителем, то бариста, то таксистом?\n\nИстория Инсафа - отличная иллюстрация к тому, как надо идти к мечте. Главный секрет именно в том, чтобы идти, а не лежать. Удивительно, правда?\n\nПочитайте, это хорошая, вдохновляющая история.\n\n#skillbox_дизайн #статья_skillbox',
    'attachments': [{'type': 'link',
      'link': {'url': 'https://m.vk.com/@skillbox-u-menya-poluchilos-500-popytok-popast-v-ux-dizain',
       'title': '«У меня получилось»: 500 попыток попасть в UX-дизайн',
       'caption': 'm.vk.com',
       'description': 'Статья',
       'photo': {'album_id': -66,
        'date': 1618585706,
        'id': 457519136,
        'owner_id': -66669811,
        'has_tags': False,
        'sizes': [{'height': 26,
          'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=75x26&quality=96&sign=b40172a0d0ce62d7546a9c22d1e0259d&c_uniq_tag=9g_PsZ93kFH9N7fhZnSqvgwUahirQWk3PAjL2a8c2xA&type=album',
          'type': 's',
          'width': 75},
         {'height': 45,
          'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=130x44&quality=96&sign=e2dd7f804ef137b0d1d9db44d194bc28&c_uniq_tag=Dw0oWTMPlN5tQqBmj0HdzmNSwdx9JbWZ_rcPjY914PE&type=album',
          'type': 'm',
          'width': 130},
         {'height': 207,
          'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=604x206&quality=96&sign=b25c2f69567aecd31b78670bfb47299a&c_uniq_tag=8AxDXtWaTYKxYl82FCj5mV-jCBJ_BvQZl1YmKtmtAlM&type=album',
          'type': 'x',
          'width': 604},
         {'height': 276,
          'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=807x276&quality=96&sign=d542c6b1cd03ded62a8e5bfed50f5fa6&c_uniq_tag=ay6SJIS-PWhdAf4eB6Cokp4wCPemF9nrMa2FlhhnIEk&type=album',
          'type': 'y',
          'width': 807},
         {'height': 438,
          'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=1280x438&quality=96&sign=766be368cb2113f11c77776ae83e1c1d&c_uniq_tag=ZyW1T0x6voGxxnoo6Cx141WmJAvOET7f-egno2hSmRI&type=album',
          'type': 'z',
          'width': 1280},
         {'height': 800,
          'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=2340x800&quality=96&sign=7f50d4b6884efb3d401c75a405d73de1&c_uniq_tag=qVLf0xWxyM9xC7YrLOE0O6Y3XxUlifRepeuYePIoSrg&type=album',
          'type': 'w',
          'width': 2340},
         {'height': 87,
          'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=130x87&quality=96&crop=572,0,1195,800&sign=b218d79be7d80214e69fa56c409b2142&c_uniq_tag=DMcgWTM3vYCL-8_dgxGb9y2nMQHMOQH7ymQDmoa8gUw&type=album',
          'type': 'o',
          'width': 130},
         {'height': 133,
          'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=200x133&quality=96&crop=568,0,1203,800&sign=62f5b280d79b4f9aea94bb3337c9e47d&c_uniq_tag=S8FWYnZFwB5hdz3j9p911dAKJdbvnlivPu0PIybWwHc&type=album',
          'type': 'p',
          'width': 200},
         {'height': 213,
          'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=320x213&quality=96&crop=569,0,1202,800&sign=c45525c8de662babbbc03e1e921dffc3&c_uniq_tag=x-7-LyVMyJ3M_mxX8Y74PhZShHQilH1EPLFDsuCHPm0&type=album',
          'type': 'q',
          'width': 320},
         {'height': 340,
          'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=510x340&quality=96&crop=570,0,1200,800&sign=f2eccbcde4e5f749b4051b1b882677d5&c_uniq_tag=NVOmqACho4L7-ID-2fZAsEDZhgJTmnd8yAOCWYvXS50&type=album',
          'type': 'r',
          'width': 510}],
        'text': '',
        'user_id': 100},
       'button': {'title': 'Читать',
        'action': {'type': 'open_url',
         'url': 'https://m.vk.com/@skillbox-u-menya-poluchilos-500-popytok-popast-v-ux-dizain'}}}}],
    'post_source': {'type': 'api'},
    'comments': {'count': 2, 'can_post': 1, 'groups_can_post': True},
    'likes': {'count': 19, 'user_likes': 0, 'can_like': 1, 'can_publish': 1},
    'reposts': {'count': 10, 'user_reposted': 0},
    'views': {'count': 4774},
    'is_favorite': False}]}}

In [27]:
response.keys()

dict_keys(['response'])

In [28]:
response['response'].keys()

dict_keys(['count', 'items'])

Рассмотрим оба ключа: один оказался значением. Видимо, порядковым номером.
Второй списком из одного элемента.

In [29]:
response['response']['count']

3480

In [30]:
len(response['response']['items'])

1

Рассмотрим соержание items,
перенесём список ключей в список python,
создадим переменну для этого словаря

In [31]:
list_keys_json1 = list(response['response']['items'][0].keys())
dict_for_json1 = response['response']['items'][0]
response['response']['items'][0].keys()

dict_keys(['id', 'from_id', 'owner_id', 'date', 'marked_as_ads', 'post_type', 'text', 'attachments', 'post_source', 'comments', 'likes', 'reposts', 'views', 'is_favorite'])

In [32]:
for keys in list_keys_json1:
    print(keys, ' --- ', dict_for_json1[keys])
    print('------------------------------------------------------------------')

id  ---  164212
------------------------------------------------------------------
from_id  ---  -66669811
------------------------------------------------------------------
owner_id  ---  -66669811
------------------------------------------------------------------
date  ---  1618586015
------------------------------------------------------------------
marked_as_ads  ---  0
------------------------------------------------------------------
post_type  ---  post
------------------------------------------------------------------
text  ---  Как стать UX-дизайнером, если ты работаешь то строителем, то бариста, то таксистом?

История Инсафа - отличная иллюстрация к тому, как надо идти к мечте. Главный секрет именно в том, чтобы идти, а не лежать. Удивительно, правда?

Почитайте, это хорошая, вдохновляющая история.

#skillbox_дизайн #статья_skillbox
------------------------------------------------------------------
attachments  ---  [{'type': 'link', 'link': {'url': 'https://m.vk.com/@skillbox-u-menya-poluchilos-500-popytok-popast-v-ux-dizain', 'title': '«У меня получилось»: 500 попыток попасть в UX-дизайн', 'caption': 'm.vk.com', 'description': 'Статья', 'photo': {'album_id': -66, 'date': 1618585706, 'id': 457519136, 'owner_id': -66669811, 'has_tags': False, 'sizes': [{'height': 26, 'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=75x26&quality=96&sign=b40172a0d0ce62d7546a9c22d1e0259d&c_uniq_tag=9g_PsZ93kFH9N7fhZnSqvgwUahirQWk3PAjL2a8c2xA&type=album', 'type': 's', 'width': 75}, {'height': 45, 'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=130x44&quality=96&sign=e2dd7f804ef137b0d1d9db44d194bc28&c_uniq_tag=Dw0oWTMPlN5tQqBmj0HdzmNSwdx9JbWZ_rcPjY914PE&type=album', 'type': 'm', 'width': 130}, {'height': 207, 'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=604x206&quality=96&sign=b25c2f69567aecd31b78670bfb47299a&c_uniq_tag=8AxDXtWaTYKxYl82FCj5mV-jCBJ_BvQZl1YmKtmtAlM&type=album', 'type': 'x', 'width': 604}, {'height': 276, 'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=807x276&quality=96&sign=d542c6b1cd03ded62a8e5bfed50f5fa6&c_uniq_tag=ay6SJIS-PWhdAf4eB6Cokp4wCPemF9nrMa2FlhhnIEk&type=album', 'type': 'y', 'width': 807}, {'height': 438, 'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=1280x438&quality=96&sign=766be368cb2113f11c77776ae83e1c1d&c_uniq_tag=ZyW1T0x6voGxxnoo6Cx141WmJAvOET7f-egno2hSmRI&type=album', 'type': 'z', 'width': 1280}, {'height': 800, 'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=2340x800&quality=96&sign=7f50d4b6884efb3d401c75a405d73de1&c_uniq_tag=qVLf0xWxyM9xC7YrLOE0O6Y3XxUlifRepeuYePIoSrg&type=album', 'type': 'w', 'width': 2340}, {'height': 87, 'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=130x87&quality=96&crop=572,0,1195,800&sign=b218d79be7d80214e69fa56c409b2142&c_uniq_tag=DMcgWTM3vYCL-8_dgxGb9y2nMQHMOQH7ymQDmoa8gUw&type=album', 'type': 'o', 'width': 130}, {'height': 133, 'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=200x133&quality=96&crop=568,0,1203,800&sign=62f5b280d79b4f9aea94bb3337c9e47d&c_uniq_tag=S8FWYnZFwB5hdz3j9p911dAKJdbvnlivPu0PIybWwHc&type=album', 'type': 'p', 'width': 200}, {'height': 213, 'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=320x213&quality=96&crop=569,0,1202,800&sign=c45525c8de662babbbc03e1e921dffc3&c_uniq_tag=x-7-LyVMyJ3M_mxX8Y74PhZShHQilH1EPLFDsuCHPm0&type=album', 'type': 'q', 'width': 320}, {'height': 340, 'url': 'https://sun1-96.userapi.com/impg/PCgQ5NGb80ol0131yklS6U5LUWwZQFotzH1AWw/ONa3Nf2Wlsw.jpg?size=510x340&quality=96&crop=570,0,1200,800&sign=f2eccbcde4e5f749b4051b1b882677d5&c_uniq_tag=NVOmqACho4L7-ID-2fZAsEDZhgJTmnd8yAOCWYvXS50&type=album', 'type': 'r', 'width': 510}], 'text': '', 'user_id': 100}, 'button': {'title': 'Читать', 'action': {'type': 'open_url', 'url': 'https://m.vk.com/@skillbox-u-menya-poluchilos-500-popytok-popast-v-ux-dizain'}}}}]
------------------------------------------------------------------
post_source  ---  {'type': 'api'}
------------------------------------------------------------------
comments  ---  {'count': 2, 'can_post': 1, 'groups_can_post': True}
------------------------------------------------------------------
likes  ---  {'count': 19, 'user_likes': 0, 'can_like': 1, 'can_publish': 1}
------------------------------------------------------------------
reposts  ---  {'count': 10, 'user_reposted': 0}
------------------------------------------------------------------
views  ---  {'count': 4774}
------------------------------------------------------------------
is_favorite  ---  False
------------------------------------------------------------------

In [33]:
# сдвигаем запрос и получаем предпоследнюю запись из паблика Skillbox Вконтакте
sdvig = str(2)
url = 'https://api.vk.com/method/wall.get?access_token=' + str(vk_token) + '&owner_id=-66669811&offset='+ sdvig +'&count=1&v=5.92'
# response2 = getjson(url)

with req.urlopen(url) as session:
    response2 = session.read().decode()
    data_response2 = json.loads(response2)

# response2
# data_response2['response']['items'][0].keys()
data_response2['response']['items'][0]['id']

164044

In [34]:
# отработаем работу с датами

from datetime import datetime, timedelta
date = dict_for_json1['date']
dt = (datetime.fromtimestamp(date) - timedelta(hours=0)).strftime('%Y-%m-%d %H:%M:%S')

print(dt)

2021-04-16 18:13:35

Подготовим словарь данных, для в удобном для нас формате:

In [35]:
list_keys_json_reduced = ['id',
                          'date',
                          'marked_as_ads',
                          'post_type',
                          'text',
                          'comments',
                          'likes',
                          'reposts',
                          'views']
# list_keys_json_reduced
temp_dict_1 = {}
temp_dict_1[list_keys_json_reduced[0]] = response['response']['items'][0][list_keys_json_reduced[0]]
temp_dict_1[list_keys_json_reduced[1]] = response['response']['items'][0][list_keys_json_reduced[1]]
temp_dict_1[list_keys_json_reduced[2]] = response['response']['items'][0][list_keys_json_reduced[2]]
temp_dict_1[list_keys_json_reduced[3]] = response['response']['items'][0][list_keys_json_reduced[3]]
temp_dict_1[list_keys_json_reduced[4]] = response['response']['items'][0][list_keys_json_reduced[4]]
temp_dict_1[list_keys_json_reduced[5] + '_amount'] = response['response']['items'][0][list_keys_json_reduced[5]]['count']
temp_dict_1[list_keys_json_reduced[6] + '_amount'] = response['response']['items'][0][list_keys_json_reduced[6]]['count']
temp_dict_1[list_keys_json_reduced[7] + '_amount'] = response['response']['items'][0][list_keys_json_reduced[7]]['count']
temp_dict_1[list_keys_json_reduced[8] + '_amount'] = response['response']['items'][0][list_keys_json_reduced[8]]['count']

In [36]:
temp_dict_1

{'id': 164212,
 'date': 1618586015,
 'marked_as_ads': 0,
 'post_type': 'post',
 'text': 'Как стать UX-дизайнером, если ты работаешь то строителем, то бариста, то таксистом?\n\nИстория Инсафа - отличная иллюстрация к тому, как надо идти к мечте. Главный секрет именно в том, чтобы идти, а не лежать. Удивительно, правда?\n\nПочитайте, это хорошая, вдохновляющая история.\n\n#skillbox_дизайн #статья_skillbox',
 'comments_amount': 2,
 'likes_amount': 19,
 'reposts_amount': 10,
 'views_amount': 4774}

In [71]:
import time

# Создадим заготовку списка словарей для дальнейшего его перевода в датафрейм
list_of_dict_from_vk = []
list_of_dict_from_vk.append(temp_dict_1)

for i_json in range(2,500,1):
    sdvig = str(i_json)
    url = 'https://api.vk.com/method/wall.get?access_token=' +\
                    str(vk_token) +\
                    '&owner_id=-66669811&offset='+\
                    sdvig+\
                    '&count=1&v=5.92'
#     with req.urlopen(url) as session:
#         response_temp = session.read().decode()
#         response_i_json = json.loads(response_temp)
    response_i_json = getjson(url)
    temp_dict = {}
    try:
        temp_dict[list_keys_json_reduced[0]] = response_i_json['response']['items'][0][list_keys_json_reduced[0]]
        temp_dict[list_keys_json_reduced[1]] = response_i_json['response']['items'][0][list_keys_json_reduced[1]]
        temp_dict[list_keys_json_reduced[2]] = response_i_json['response']['items'][0][list_keys_json_reduced[2]]
        temp_dict[list_keys_json_reduced[3]] = response_i_json['response']['items'][0][list_keys_json_reduced[3]]
        temp_dict[list_keys_json_reduced[4]] = response_i_json['response']['items'][0][list_keys_json_reduced[4]]
        temp_dict[list_keys_json_reduced[5] + '_amount'] = response_i_json['response']['items'][0][list_keys_json_reduced[5]]['count']
        temp_dict[list_keys_json_reduced[6] + '_amount'] = response_i_json['response']['items'][0][list_keys_json_reduced[6]]['count']
        temp_dict[list_keys_json_reduced[7] + '_amount'] = response_i_json['response']['items'][0][list_keys_json_reduced[7]]['count']
        temp_dict[list_keys_json_reduced[8] + '_amount'] = response_i_json['response']['items'][0][list_keys_json_reduced[8]]['count']
        list_of_dict_from_vk.append(temp_dict)
        print(sdvig, end=' ; ')
    except:
        pass
    if i_json % 9 == 0:
        time.sleep(2.5)
len(list_of_dict_from_vk)

2 ; 3 ; 4 ; 5 ; 6 ; 7 ; 8 ; 9 ; 10 ; 11 ; 12 ; 13 ; 14 ; 15 ; 16 ; 17 ; 18 ; 19 ; 20 ; 21 ; 22 ; 23 ; 24 ; 25 ; 26 ; 27 ; 28 ; 29 ; 30 ; 31 ; 32 ; 33 ; 34 ; 35 ; 36 ; 37 ; 38 ; 39 ; 40 ; 41 ; 42 ; 43 ; 44 ; 45 ; 46 ; 47 ; 48 ; 49 ; 50 ; 51 ; 52 ; 53 ; 54 ; 55 ; 56 ; 57 ; 58 ; 59 ; 60 ; 61 ; 62 ; 63 ; 64 ; 65 ; 66 ; 67 ; 68 ; 69 ; 70 ; 71 ; 72 ; 73 ; 74 ; 75 ; 76 ; 77 ; 78 ; 79 ; 80 ; 81 ; 82 ; 83 ; 84 ; 85 ; 86 ; 87 ; 88 ; 89 ; 90 ; 91 ; 92 ; 93 ; 94 ; 95 ; 96 ; 97 ; 98 ; 99 ; 100 ; 101 ; 102 ; 103 ; 104 ; 105 ; 106 ; 107 ; 108 ; 109 ; 110 ; 111 ; 112 ; 113 ; 114 ; 115 ; 116 ; 117 ; 118 ; 119 ; 120 ; 121 ; 122 ; 123 ; 124 ; 125 ; 126 ; 127 ; 128 ; 129 ; 130 ; 131 ; 132 ; 133 ; 134 ; 135 ; 136 ; 137 ; 138 ; 139 ; 140 ; 141 ; 142 ; 143 ; 144 ; 145 ; 146 ; 147 ; 148 ; 149 ; 150 ; 151 ; 152 ; 153 ; 154 ; 155 ; 156 ; 157 ; 158 ; 159 ; 160 ; 161 ; 162 ; 163 ; 164 ; 165 ; 166 ; 167 ; 168 ; 169 ; 170 ; 171 ; 172 ; 173 ; 174 ; 175 ; 176 ; 177 ; 178 ; 179 ; 180 ; 181 ; 182 ; 183 ; 184 ; 185 ; 186 ; 187 ; 188 ; 189 ; 190 ; 191 ; 192 ; 193 ; 194 ; 195 ; 196 ; 197 ; 198 ; 199 ; 200 ; 201 ; 202 ; 203 ; 204 ; 205 ; 206 ; 207 ; 208 ; 209 ; 210 ; 211 ; 212 ; 213 ; 214 ; 215 ; 216 ; 217 ; 218 ; 219 ; 220 ; 221 ; 222 ; 223 ; 224 ; 225 ; 226 ; 227 ; 228 ; 229 ; 230 ; 231 ; 232 ; 233 ; 234 ; 235 ; 236 ; 237 ; 238 ; 239 ; 240 ; 241 ; 242 ; 243 ; 244 ; 245 ; 246 ; 247 ; 248 ; 249 ; 250 ; 251 ; 252 ; 253 ; 254 ; 255 ; 256 ; 257 ; 258 ; 259 ; 260 ; 261 ; 262 ; 263 ; 264 ; 265 ; 266 ; 267 ; 268 ; 269 ; 270 ; 271 ; 272 ; 273 ; 274 ; 275 ; 276 ; 277 ; 278 ; 279 ; 280 ; 281 ; 282 ; 283 ; 284 ; 285 ; 286 ; 287 ; 288 ; 289 ; 290 ; 291 ; 292 ; 293 ; 294 ; 295 ; 296 ; 297 ; 298 ; 299 ; 300 ; 301 ; 302 ; 303 ; 304 ; 305 ; 306 ; 307 ; 308 ; 309 ; 310 ; 311 ; 312 ; 313 ; 314 ; 315 ; 316 ; 317 ; 318 ; 319 ; 320 ; 321 ; 322 ; 323 ; 324 ; 325 ; 326 ; 327 ; 328 ; 329 ; 330 ; 331 ; 332 ; 333 ; 334 ; 335 ; 336 ; 337 ; 338 ; 339 ; 340 ; 341 ; 342 ; 343 ; 344 ; 345 ; 346 ; 347 ; 348 ; 349 ; 350 ; 351 ; 352 ; 353 ; 354 ; 355 ; 356 ; 357 ; 358 ; 359 ; 360 ; 361 ; 362 ; 363 ; 364 ; 365 ; 366 ; 367 ; 368 ; 369 ; 370 ; 371 ; 372 ; 373 ; 374 ; 375 ; 376 ; 377 ; 378 ; 379 ; 380 ; 381 ; 382 ; 383 ; 384 ; 385 ; 386 ; 387 ; 388 ; 389 ; 390 ; 391 ; 392 ; 393 ; 394 ; 395 ; 396 ; 397 ; 398 ; 399 ; 400 ; 401 ; 402 ; 403 ; 404 ; 405 ; 406 ; 407 ; 408 ; 409 ; 410 ; 411 ; 412 ; 413 ; 414 ; 415 ; 416 ; 417 ; 418 ; 419 ; 420 ; 421 ; 422 ; 423 ; 424 ; 425 ; 426 ; 427 ; 428 ; 429 ; 430 ; 431 ; 432 ; 433 ; 434 ; 435 ; 436 ; 437 ; 438 ; 439 ; 440 ; 441 ; 442 ; 443 ; 444 ; 445 ; 446 ; 447 ; 448 ; 449 ; 450 ; 451 ; 452 ; 453 ; 454 ; 455 ; 456 ; 457 ; 458 ; 459 ; 460 ; 461 ; 462 ; 463 ; 464 ; 465 ; 466 ; 467 ; 468 ; 469 ; 470 ; 471 ; 472 ; 473 ; 474 ; 475 ; 476 ; 477 ; 478 ; 479 ; 480 ; 481 ; 482 ; 483 ; 484 ; 485 ; 486 ; 487 ; 488 ; 489 ; 490 ; 491 ; 492 ; 493 ; 494 ; 495 ; 496 ; 497 ; 498 ; 499 ;

499

In [72]:
# list_of_dict_from_vk

Переведём полученный список в датафрейм и создадим новый столбец с датами в нормальном формате

In [73]:
def f_date(x):
    dat = (datetime.fromtimestamp(x) - timedelta(hours=0)).strftime('%Y-%m-%d %H:%M:%S')
    return dat

df_vk = pd.DataFrame(list_of_dict_from_vk)
df_vk['real_date'] = df_vk['date'].apply(f_date)
df_vk

,id,date,marked_as_ads,post_type,text,comments_amount,likes_amount,reposts_amount,views_amount,real_date
0,164212,1618586015,0,post,"Как стать UX-дизайнером, если ты работаешь то ...",2,19,10,4774,2021-04-16 18:13:35
1,164044,1618566266,0,post,Делимся очередной подборкой онлайн-магазинов с...,0,28,13,7243,2021-04-16 12:44:26
2,163960,1618505602,0,post,— почему инхаус PR-отдел проигрывает агентства...,0,26,12,9897,2021-04-15 19:53:22
3,163914,1618499709,0,post,Сколько прекрасных людей!\n\nС ними мы провели...,7,17,2,9705,2021-04-15 18:15:09
4,163665,1618418817,0,post,"""Отличная работа, напишите об этом кейс!"" — го...",7,58,65,13670,2021-04-14 19:46:57
...,...,...,...,...,...,...,...,...,...,...
494,80954,1594225990,0,post,"Ксения Карпова, IT-рекрутёр, рассказывает об а...",4,67,5,21127,2020-07-08 19:33:10
495,80677,1594203471,0,post,— После стольких лет?\n— Всегда!\n\nК 20-летию...,37,245,12,33709,2020-07-08 13:17:51
496,80527,1594139092,0,post,Дизайн - это не только линии и заливки. Это ещ...,2,83,19,19970,2020-07-07 19:24:52
497,80443,1594128979,0,post,Уже завтра стартует новый онлайн-проект от Ski...,2,29,2,19713,2020-07-07 16:36:19
498,80430,1594116770,0,post,"Остановись, мгновенье, ты прекрасно! Особенно ...",12,152,11,22040,2020-07-07 13:12:50

чтобы не делать перебор цикла каждый раз, сохраним добытые данные в CSV.
И достанем обратно для дальнейшего анализа

In [74]:
df_vk.to_csv('df_vk_3.csv', sep='+', index_label='index')

In [75]:
df_vk_2 = pd.read_csv('df_vk_3.csv', sep='+', parse_dates=['real_date'], dayfirst=False, index_col='index')

In [76]:
df_vk_2

,id,date,marked_as_ads,post_type,text,comments_amount,likes_amount,reposts_amount,views_amount,real_date
index,,,,,,,,,,
0,164212,1618586015,0,post,"Как стать UX-дизайнером, если ты работаешь то ...",2,19,10,4774,2021-04-16 18:13:35
1,164044,1618566266,0,post,Делимся очередной подборкой онлайн-магазинов с...,0,28,13,7243,2021-04-16 12:44:26
2,163960,1618505602,0,post,— почему инхаус PR-отдел проигрывает агентства...,0,26,12,9897,2021-04-15 19:53:22
3,163914,1618499709,0,post,Сколько прекрасных людей!\n\nС ними мы провели...,7,17,2,9705,2021-04-15 18:15:09
4,163665,1618418817,0,post,"""Отличная работа, напишите об этом кейс!"" — го...",7,58,65,13670,2021-04-14 19:46:57
...,...,...,...,...,...,...,...,...,...,...
494,80954,1594225990,0,post,"Ксения Карпова, IT-рекрутёр, рассказывает об а...",4,67,5,21127,2020-07-08 19:33:10
495,80677,1594203471,0,post,— После стольких лет?\n— Всегда!\n\nК 20-летию...,37,245,12,33709,2020-07-08 13:17:51
496,80527,1594139092,0,post,Дизайн - это не только линии и заливки. Это ещ...,2,83,19,19970,2020-07-07 19:24:52
497,80443,1594128979,0,post,Уже завтра стартует новый онлайн-проект от Ski...,2,29,2,19713,2020-07-07 16:36:19
498,80430,1594116770,0,post,"Остановись, мгновенье, ты прекрасно! Особенно ...",12,152,11,22040,2020-07-07 13:12:50

Рассмотрим собранные данные

In [77]:
# маркер marked_as_ads не содержит отличающихся значений, его можно удалить
df_vk_2['marked_as_ads'].unique().tolist()

[0]

In [78]:
# маркер post_type не содержит отличающихся значений, его можно удалить
df_vk_2['post_type'].unique().tolist()

['post']

In [79]:
# Столбец date содержит информацию в неудобном формате, его тоже можно удалить.

In [80]:
df_vk_2 = df_vk_2[['id','text','comments_amount','likes_amount','reposts_amount', 'views_amount', 'real_date']]
df_vk_2.head()

,id,text,comments_amount,likes_amount,reposts_amount,views_amount,real_date
index,,,,,,,
0,164212,"Как стать UX-дизайнером, если ты работаешь то ...",2,19,10,4774,2021-04-16 18:13:35
1,164044,Делимся очередной подборкой онлайн-магазинов с...,0,28,13,7243,2021-04-16 12:44:26
2,163960,— почему инхаус PR-отдел проигрывает агентства...,0,26,12,9897,2021-04-15 19:53:22
3,163914,Сколько прекрасных людей!\n\nС ними мы провели...,7,17,2,9705,2021-04-15 18:15:09
4,163665,"""Отличная работа, напишите об этом кейс!"" — го...",7,58,65,13670,2021-04-14 19:46:57

In [81]:
# df_vk_2_top_comments_amount.loc[99,'id']

In [82]:
# 5 постов с наибольшим количеством комментариев:
df_vk_2_top_comments_amount = df_vk_2.sort_values(by='comments_amount', ascending=False)\
                                        .head(5)\
                                        .reset_index()\
                                        .drop(columns='index')
df_top_id_list = df_vk_2_top_comments_amount['id']
df_vk_2_top_comments_amount

,id,text,comments_amount,likes_amount,reposts_amount,views_amount,real_date
0,149541,Проявляем смекалку в комментариях 😉👇🏻\n\n#skil...,195,48,15,29721,2021-02-17 19:50:52
1,99404,Простая задачка на логику!\n\nНо для начала пр...,108,29,0,24258,2020-09-22 13:12:42
2,141729,"Ловите новые курсы! Но не простые, а волшебные...",107,104,33,35942,2020-12-29 13:14:51
3,133385,Бренд Opel представил обновленный логотип и св...,82,55,4,40699,2020-12-12 13:51:07
4,143059,"Признайтесь, сколько онлайн-курсов вы начали п...",80,104,64,36062,2021-01-04 17:00:23

In [83]:
# 5 постов с наибольшим количеством ляйков:
df_vk_2_top_likes_amount = df_vk_2.sort_values(by='likes_amount', ascending=False)\
                                        .head(5)\
                                        .reset_index()\
                                        .drop(columns='index')
df_top_id_list = df_top_id_list.append(df_vk_2_top_likes_amount['id'])
df_vk_2_top_likes_amount

,id,text,comments_amount,likes_amount,reposts_amount,views_amount,real_date
0,116309,Как бы выглядели герои Disney в реальности?\n⠀...,60,653,19,73197,2020-10-18 14:23:16
1,118082,Помните анимированные фото в газетах из «Гарри...,48,541,20,52544,2020-10-23 11:34:25
2,120146,"У диджитал-эпохи много плюсов, всех не перечис...",24,530,98,92743,2020-11-02 17:27:49
3,129727,«У абстракции больше всего форм выражения»\nИс...,27,461,54,47207,2020-12-04 13:02:51
4,125145,Coca-Cola славится своими атмосферными новогод...,41,454,32,41567,2020-11-22 14:27:01

In [84]:
# 5 постов с наибольшим количеством репостов:
df_vk_2_top_reposts_amount = df_vk_2.sort_values(by='reposts_amount', ascending=False)\
                                        .head(5)\
                                        .reset_index()\
                                        .drop(columns='index')
df_top_id_list = df_top_id_list.append(df_vk_2_top_reposts_amount['id'])
df_vk_2_top_reposts_amount

,id,text,comments_amount,likes_amount,reposts_amount,views_amount,real_date
0,145242,"Типовые задачи есть в любой сфере, и дизайн — ...",2,306,361,45810,2021-01-22 16:10:21
1,150816,McDonald’s показал новую упаковку 🍟\n\nТеперь ...,38,212,246,33132,2021-02-20 15:39:25
2,162002,"Для тех, кто хочет прокачать свои писательские...",2,173,242,24498,2021-04-06 17:31:33
3,146492,"Открываете Word, полчаса смотрите на чистый ли...",0,245,238,30415,2021-01-30 18:28:04
4,145102,"Смотрели «Всегда говори „ДА“»? Так вот, в пере...",6,259,212,38654,2021-01-21 12:17:58

In [85]:
# 5 постов с наибольшим количеством просмотров:
df_vk_2_top_views_amount = df_vk_2.sort_values(by='views_amount', ascending=False)\
                                        .head(5)\
                                        .reset_index()\
                                        .drop(columns='index')
df_top_id_list = df_top_id_list.append(df_vk_2_top_views_amount['id'])
df_vk_2_top_views_amount

,id,text,comments_amount,likes_amount,reposts_amount,views_amount,real_date
0,120146,"У диджитал-эпохи много плюсов, всех не перечис...",24,530,98,92743,2020-11-02 17:27:49
1,120222,"Главный закон веб-разработки: “То, что выгляди...",28,127,19,79196,2020-11-02 19:00:34
2,116309,Как бы выглядели герои Disney в реальности?\n⠀...,60,653,19,73197,2020-10-18 14:23:16
3,162731,"Посещать семинары, не выходя из дома. Сдавать ...",0,50,39,71405,2021-04-09 14:52:26
4,120105,Придумали лекарство от грусти в самый хмурый м...,13,120,9,62867,2020-11-02 14:06:45

In [86]:
# список ID постов с наибольшим эффектом по комментариям, репостам, просмотрам или лайкам
list_of_top_posts = df_top_id_list.unique().tolist()
list_of_top_posts

[149541,
 99404,
 141729,
 133385,
 143059,
 116309,
 118082,
 120146,
 129727,
 125145,
 145242,
 150816,
 162002,
 146492,
 145102,
 120222,
 162731,
 120105]

In [87]:
# Создадим датафрейм с постаими с наибольшим эффектом
df_top_posts = df_vk_2[df_vk_2['id'].isin(list_of_top_posts)]
df_top_posts

,id,text,comments_amount,likes_amount,reposts_amount,views_amount,real_date
index,,,,,,,
16,162731,"Посещать семинары, не выходя из дома. Сдавать ...",0,50,39,71405,2021-04-09 14:52:26
22,162002,"Для тех, кто хочет прокачать свои писательские...",2,173,242,24498,2021-04-06 17:31:33
111,150816,McDonald’s показал новую упаковку 🍟\n\nТеперь ...,38,212,246,33132,2021-02-20 15:39:25
119,149541,Проявляем смекалку в комментариях 😉👇🏻\n\n#skil...,195,48,15,29721,2021-02-17 19:50:52
151,146492,"Открываете Word, полчаса смотрите на чистый ли...",0,245,238,30415,2021-01-30 18:28:04
164,145242,"Типовые задачи есть в любой сфере, и дизайн — ...",2,306,361,45810,2021-01-22 16:10:21
166,145102,"Смотрели «Всегда говори „ДА“»? Так вот, в пере...",6,259,212,38654,2021-01-21 12:17:58
191,143059,"Признайтесь, сколько онлайн-курсов вы начали п...",80,104,64,36062,2021-01-04 17:00:23
199,141729,"Ловите новые курсы! Но не простые, а волшебные...",107,104,33,35942,2020-12-29 13:14:51
229,133385,Бренд Opel представил обновленный логотип и св...,82,55,4,40699,2020-12-12 13:51:07
242,129727,«У абстракции больше всего форм выражения»\nИс...,27,461,54,47207,2020-12-04 13:02:51
265,125145,Coca-Cola славится своими атмосферными новогод...,41,454,32,41567,2020-11-22 14:27:01
283,120222,"Главный закон веб-разработки: “То, что выгляди...",28,127,19,79196,2020-11-02 19:00:34
284,120146,"У диджитал-эпохи много плюсов, всех не перечис...",24,530,98,92743,2020-11-02 17:27:49
285,120105,Придумали лекарство от грусти в самый хмурый м...,13,120,9,62867,2020-11-02 14:06:45
299,118082,Помните анимированные фото в газетах из «Гарри...,48,541,20,52544,2020-10-23 11:34:25
309,116309,Как бы выглядели герои Disney в реальности?\n⠀...,60,653,19,73197,2020-10-18 14:23:16
356,99404,Простая задачка на логику!\n\nНо для начала пр...,108,29,0,24258,2020-09-22 13:12:42

для выявления причины сильного эффекта поста не важно точное количество лайков или репостов, удалим ненужные столбцы дял простоты анализа

In [88]:
df_top_posts_filter = df_top_posts[['text']]
df_top_posts_filter['month'] = df_top_posts['real_date'].dt.month
df_top_posts_filter['day'] = df_top_posts['real_date'].dt.day
df_top_posts_filter['weekday'] = df_top_posts['real_date'].dt.day_name()
df_top_posts_filter.index = df_top_posts['id'].tolist()

df_top_posts_filter

<ipython-input-88-328d24537a8d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_top_posts_filter['month'] = df_top_posts['real_date'].dt.month
<ipython-input-88-328d24537a8d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_top_posts_filter['day'] = df_top_posts['real_date'].dt.day
<ipython-input-88-328d24537a8d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_top_posts_filter['weekday'] = df_top_posts['real_date'].dt.day_name()

,text,month,day,weekday
162731,"Посещать семинары, не выходя из дома. Сдавать ...",4,9,Friday
162002,"Для тех, кто хочет прокачать свои писательские...",4,6,Tuesday
150816,McDonald’s показал новую упаковку 🍟\n\nТеперь ...,2,20,Saturday
149541,Проявляем смекалку в комментариях 😉👇🏻\n\n#skil...,2,17,Wednesday
146492,"Открываете Word, полчаса смотрите на чистый ли...",1,30,Saturday
145242,"Типовые задачи есть в любой сфере, и дизайн — ...",1,22,Friday
145102,"Смотрели «Всегда говори „ДА“»? Так вот, в пере...",1,21,Thursday
143059,"Признайтесь, сколько онлайн-курсов вы начали п...",1,4,Monday
141729,"Ловите новые курсы! Но не простые, а волшебные...",12,29,Tuesday
133385,Бренд Opel представил обновленный логотип и св...,12,12,Saturday
129727,«У абстракции больше всего форм выражения»\nИс...,12,4,Friday
125145,Coca-Cola славится своими атмосферными новогод...,11,22,Sunday
120222,"Главный закон веб-разработки: “То, что выгляди...",11,2,Monday
120146,"У диджитал-эпохи много плюсов, всех не перечис...",11,2,Monday
120105,Придумали лекарство от грусти в самый хмурый м...,11,2,Monday
118082,Помните анимированные фото в газетах из «Гарри...,10,23,Friday
116309,Как бы выглядели герои Disney в реальности?\n⠀...,10,18,Sunday
99404,Простая задачка на логику!\n\nНо для начала пр...,9,22,Tuesday

### Зависимости с днём месяца не проявляется. Эффектные посты распределены по неделе

### Зависимости с днём месяца не проявляется. Эффектные посты распределены по месяцу

### Причину эффектности поста следует искать в самом тексте сообщения

In [96]:
for i_ in range(df_top_posts_filter.shape[0]):
    print(df_top_posts_filter.iloc[i_,0])
    print('-----------------------------------------------------------------------------------------')

Посещать семинары, не выходя из дома. Сдавать экзамены, сидя на своем любимом диване. Просматривать лекции в любое удобное время. Мечты? Реальность — высшее образование Skillbox!
Читайте в карточках, в чем наш формат похож на классический университет, а в чем — нет. А также о том, как поступить на бакалавриат и магистратуру.
Еще подробнее здесь: https://vk.cc/c0EETR

#Высшее_образование_Skillbox
-----------------------------------------------------------------------------------------
Для тех, кто хочет прокачать свои писательские навыки — собрали топ-10 книг для начинающих драматургов. Пишите в комментариях, какие книги посоветовали бы сами 👇🏻

#В_закладки_Skillbox
-----------------------------------------------------------------------------------------
McDonald’s показал новую упаковку 🍟

Теперь на коробках и обертках не будет крупных надписей — их сменит система иконок. Редизайном занималось агентство Pearlfisher (@pearlfisherlive). По задумке авторов, новое оформление добавит бренду «ощущение радости и легкости».

На коробке филе-о-фиш изобразили волны, на упаковке чизбургера — плавящийся сыр. А обертка макмаффина с яйцом напоминает белок с круглым желтком в центре.

Редизайн будет проходить по всему миру в течение двух лет.

Какой вариант нравится больше — старый или новый?

#Айдентика_Skillbox #Skillbox_дизайн
-----------------------------------------------------------------------------------------
Проявляем смекалку в комментариях 😉👇🏻

#skillbox
-----------------------------------------------------------------------------------------
Открываете Word, полчаса смотрите на чистый лист и ждете, когда текст сам снизойдет к вам? А затем выжимаете из себя пару предложений, но понимаете, что это совсем не то?
Похоже, вам стоит пересмотреть подход к тексту. В карточках собрали подборку книг, которые помогут побороть страх чистого листа, научат точно излагать мысли и правильно организовывать свое время.
А закрепить полученные знания можно на курсе Skillbox «Копирайтинг от А до Я»: https://vk.cc/bXOCLJ

#В_Закладки_Skillbox #Skillbox_Маркетинг
-----------------------------------------------------------------------------------------
Типовые задачи есть в любой сфере, и дизайн — точно не исключение.

Сгенерировать палитру, создать простую 3D-модель, разработать систему геометрических форм, нарисовать паттерн, — всем этим интересно заниматься, но только когда есть время.
А если горит дедлайн (или просто лень) — воспользуйтесь бесплатными сервисами из нашей подборки.

#Skillbox_Дизайн
-----------------------------------------------------------------------------------------
Смотрели «Всегда говори „ДА“»? Так вот, в переговорах эта философия не работает. «Сначала скажите „НЕТ“» — правило Джима Кэмпа, автора одноименного бестселлера.

В своей книге Джим Кэмп критикует стратегию взаимовыгодных переговоров и описывает собственный подход — систему Кэмпа. Основные принципы, которые помогут вам эффективнее доказывать свою точку зрения, упаковали в карточках.

Если вы хотите научиться достигать в переговорах нужного вам результата, записывайтесь на курс Skillbox «Эффективные переговоры»: https://vk.cc/bXo52g

#Skillbox_управление #В_закладки_Skillbox
-----------------------------------------------------------------------------------------
Признайтесь, сколько онлайн-курсов вы начали проходить, но так и не добрались до конца? Один-два? Пять-семь? Десять? Да-да, у некоторых и десяток "заброшек" висеть может.

Попробуем разобраться, почему многие начинают проходить онлайн-курсы, но так и не завершают обучение. И что сделать, чтобы завершить начатое.

#статья_skillbox #skillbox_управление
-----------------------------------------------------------------------------------------
Ловите новые курсы! Но не простые, а волшебные. И немного странные 😀

По четырем последним цифрам своего телефона определите, какую программу вы бы могли освоить, будь мы новогодним онлайн-университетом🎄

Пишите в комментариях, что вам выпало 👇🏻

#Skillbox_Курсы
-----------------------------------------------------------------------------------------
Бренд Opel представил обновленный логотип и свой фирменный цвет – желтый, символизирующий эпоху электрификации.
Чем не повод провести новый дизайн-батл!
В левом углу ринга – классическая 3D-эмблема, которую компания использовала с 2002 года.
В правом углу ринга – новый двухмерный логотип с акцентом на фирменной молнии, ставшей более фактурной благодаря уменьшенной толщине обода.

Какой логотип лучше – старый или новый? Голосуйте и делитесь своим мнением в комментариях!

#Дизайн_баттл
-----------------------------------------------------------------------------------------
«У абстракции больше всего форм выражения»
Истину этой известной фразы подтвердил моушн-дизайнер из Нидерландов Морис Франсен (@maurice_fransen).

В своем проекте Abstrackt он продемонстрировал восхищающее многообразие форм, образов, цветовых сочетаний и абстрактных мини-сюжетов. Каждый кадр достоин того, чтобы зритель нажал на паузу и внимательно изучил все его детали.
Не забудьте включить звук. Приятного просмотра!

#Skillbox_Дизайн
-----------------------------------------------------------------------------------------
Coca-Cola славится своими атмосферными новогодними роликами. Но в этом году бренд решил превзойти себя и пригласил именитого режиссера Тайка Вайтити.
⠀
Съемки ролика прошли в Новой Зеландии — на родине Вайтити. За креатив отвечало агентство из Лондона Wieden+Kennedy (@Wiedenkennedy).
⠀
Авторам удалось уместить в две минуты историю, которая ничем не уступает полнометражным картинам. Получилось очень трогательно.
⠀
#Skillbox_Маркетинг
-----------------------------------------------------------------------------------------
Главный закон веб-разработки: “То, что выглядит как нормальный сайт и вроде бы работает как нормальный сайт — не обязательно нормальный сайт!”

Разбираемся с валидацией HTML-кода.

#Статья_Skillbox #Skillbox_Программирование
-----------------------------------------------------------------------------------------
У диджитал-эпохи много плюсов, всех не перечислить. Но есть и обратная сторона — синдром компьютерного зрения.

Сделайте паузу — проведите небольшую тренировку для глаз. В карточках собрали упражнения: выполняйте их по очереди или комбинируйте на свое усмотрение. Для большей эффективности повторяйте 5-6 раз в день. Так вы не только сохраните, но даже улучшите зрение.

#В_Закладки_Skillbox
-----------------------------------------------------------------------------------------
Придумали лекарство от грусти в самый хмурый месяц в году 😁 Включайте наши вебинары и радуйтесь новым знаниям! На этой неделе проведем интенсив по ландшафтному дизайну, научим настраивать и запускать рекламу в Инстаграме и соберем приложение для работы с данными о погоде и экономике.

Ждем вас!

Выбирайте интересующие вебинары и подключайтесь:
👉 https://vk.cc/aAdmbz

#Расписание_Skillbox
-----------------------------------------------------------------------------------------
Помните анимированные фото в газетах из «Гарри Поттера»?
Похоже, волшебство пришло и в мир маглов.

Октябрьская обложка Vogue Portugal «оживает», если на нее посмотреть через приложение Lighthouse Publishing AR. Достаточно навести камеру смартфона на журнал, как модель Эмили Нанес начинает водить руками по поверхности воды. Магия да и только!

Редакция журнала уверена, что дополненная реальность в будущем станет привычным элементом любого печатного издания. А вы что думаете?

#Кейс_Skillbox #Skillbox_маркетинг
-----------------------------------------------------------------------------------------
Как бы выглядели герои Disney в реальности?
⠀
Художник Toyboyfan (@toyboyfan) запустил проект «В реальной жизни», в котором с помощью искусственного интеллекта создает гиперреалистичные портреты мультипликационных персонажей.
⠀
По словам самого автора, на одну работу уходит примерно час. Сначала он загружает в программу два фото — персонажа и человека с похожими чертами лица. Затем искусственный интеллект сливает их в единый портрет, который художник дорабатывает в Photoshop.
⠀
Угадаете, кто есть кто на картинках? пишите свои догадки в комментариях 👇🏻
⠀
#Skillbox_дизайн
-----------------------------------------------------------------------------------------
Простая задачка на логику!

Но для начала правило: никаких поисковиков, размышляем сами.
Итак, у нас есть 3 ключа и 3 чемодана с разными замками. Каждый ключ подходит к одному из чемоданов. Как думаете, сколько нужно попыток, чтобы подобрать ключ к каждому из них?
Пишем свои ответы и решения в комментариях!

#Задачка_Skillbox
-----------------------------------------------------------------------------------------

### Рассмотрим самые провальные посты:

In [92]:
# исключим из рассмотрения апрельские посты - они могли ещё не набрать популярность

In [93]:
# 5 постов с наименьшим количеством комментариев:
df_vk_2_fail_comments_amount = df_vk_2[df_vk_2['real_date'] < '2021-04'].sort_values(by='comments_amount', ascending=True)\
                                        .head(5)\
                                        .reset_index()\
                                        .drop(columns='index')
df_fail_id_list = df_vk_2_fail_comments_amount['id']
# 5 постов с наименьшим количеством ляйков:
df_vk_2_fail_likes_amount = df_vk_2[df_vk_2['real_date'] < '2021-04'].sort_values(by='likes_amount', ascending=True)\
                                        .head(5)\
                                        .reset_index()\
                                        .drop(columns='index')
df_fail_id_list = df_fail_id_list.append(df_vk_2_fail_likes_amount['id'])
# 5 постов с наименьшим количеством репостов:
df_vk_2_fail_reposts_amount = df_vk_2[df_vk_2['real_date'] < '2021-04'].sort_values(by='reposts_amount', ascending=True)\
                                        .head(5)\
                                        .reset_index()\
                                        .drop(columns='index')
df_fail_id_list = df_fail_id_list[df_vk_2['real_date'] < '2021-04'].append(df_vk_2_fail_reposts_amount['id'])
# 5 постов с наименьшим количеством просмотров:
df_vk_2_fail_views_amount = df_vk_2[df_vk_2['real_date'] < '2021-04'].sort_values(by='views_amount', ascending=True)\
                                        .head(5)\
                                        .reset_index()\
                                        .drop(columns='index')
df_fail_id_list = df_fail_id_list.append(df_vk_2_fail_views_amount['id'])
# список ID постов с наименьшим эффектом по комментариям, репостам, просмотрам или лайкам
list_of_fail_posts = df_fail_id_list.unique().tolist()
# Удалим элементы, которые есть в списке успешных публикаций:

for i_id in range(len(list_of_top_posts)):
    if list_of_top_posts[i_id] in list_of_fail_posts:
        list_of_fail_posts.remove(list_of_top_posts[i_id])

# Создадим датафрейм с постаими с наименьшим эффектом
df_fail_posts = df_vk_2[df_vk_2['id'].isin(list_of_fail_posts)]
df_fail_posts

,id,text,comments_amount,likes_amount,reposts_amount,views_amount,real_date
index,,,,,,,
121,149448,"Что, иллюстратор? Это что-то про книжки? \n\nН...",0,55,46,17340,2021-02-16 18:00:23
390,92261,"Посмотреть на текст и сразу понять, о чем речь...",8,170,20,17237,2020-09-02 18:16:50
439,86505,"В жизни каждого художника случаются истории, к...",0,35,0,19304,2020-08-05 13:22:25
454,85614,"Хотите узнать, что люди думают о вашем продукт...",4,27,3,16440,2020-07-29 18:00:39
457,85368,"Продолжаем серию лекций «Дизайн, философия и к...",11,25,1,15404,2020-07-28 15:56:08
459,85264,"Допустим, у вас есть продукт и вы хотите на нё...",0,28,4,16044,2020-07-27 18:57:46
465,84805,"Друзья, мы взяли золото и два серебра на Effie...",6,66,0,19154,2020-07-23 16:36:35
475,83452,"Ностальгии пост.\n\nПомните, кто тоже любит «М...",22,40,0,20987,2020-07-18 12:00:31
479,83054,Хорошо разбираетесь в шрифтах? Давайте узнаем!...,0,36,0,19253,2020-07-16 13:31:39

In [94]:
df_fail_posts_filter = df_fail_posts[['text']]
df_fail_posts_filter['month'] = df_fail_posts['real_date'].dt.month
df_fail_posts_filter['day'] = df_fail_posts['real_date'].dt.day
df_fail_posts_filter['weekday'] = df_fail_posts['real_date'].dt.day_name()
df_fail_posts_filter.index = df_fail_posts['id'].tolist()

df_fail_posts_filter

<ipython-input-94-db037d530afa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fail_posts_filter['month'] = df_fail_posts['real_date'].dt.month
<ipython-input-94-db037d530afa>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fail_posts_filter['day'] = df_fail_posts['real_date'].dt.day
<ipython-input-94-db037d530afa>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fail_posts_filter['weekday'] = df_fail_posts['real_date'].dt.day_name()

,text,month,day,weekday
149448,"Что, иллюстратор? Это что-то про книжки? \n\nН...",2,16,Tuesday
92261,"Посмотреть на текст и сразу понять, о чем речь...",9,2,Wednesday
86505,"В жизни каждого художника случаются истории, к...",8,5,Wednesday
85614,"Хотите узнать, что люди думают о вашем продукт...",7,29,Wednesday
85368,"Продолжаем серию лекций «Дизайн, философия и к...",7,28,Tuesday
85264,"Допустим, у вас есть продукт и вы хотите на нё...",7,27,Monday
84805,"Друзья, мы взяли золото и два серебра на Effie...",7,23,Thursday
83452,"Ностальгии пост.\n\nПомните, кто тоже любит «М...",7,18,Saturday
83054,Хорошо разбираетесь в шрифтах? Давайте узнаем!...,7,16,Thursday

Неудачные посты выпускались в основном в среду и четверг. Неудачные посты по выходным встречаются редко.

In [95]:
for i_ in range(df_fail_posts_filter.shape[0]):
    print(df_fail_posts_filter.iloc[i_,0])
    print('-----------------------------------------------------------------------------------------')

Что, иллюстратор? Это что-то про книжки?

Не обязательно. Название программы сбивает с толку: на самом деле она пригодится не только иллюстраторам.

#Skillbox_дизайн #Статья_skillbox
-----------------------------------------------------------------------------------------
Посмотреть на текст и сразу понять, о чем речь. Мгновенно определить главное и второстепенное. Найти нужную информацию, не перечитывая весь материал.

Вероятно, это именно то, чего ждет ваш заказчик. Впечатлите его — научитесь красиво оформлять текст в гуглдоке. А как именно — читайте в карточках 😉

А для тех, кто хочет профессионально овладеть всеми инструментами пакетов MS Office и Google, у нас есть целый курс: https://vk.cc/az5WzA

#Skillbox_управление #В_закладки_Skillbox
-----------------------------------------------------------------------------------------
В жизни каждого художника случаются истории, которые могут стать мемами, если о них узнает больше людей. Вместе с [club76477496|«ВКонтакте с авторами»], [club88676407|CGSpeak] и [club57550791|Maxgoodz] мы предлагаем вам поделиться этими историями и выиграть призы.

Какие подарки вас ждут👇🏻

• бесплатные курсы Skillbox,
• графический планшет XP-Pen Deco 01 от CGSpeak,
• скетчбук Large White от Maxgoodz,
• промокупон на продвижение «ВКонтакте» на 10 000 рублей,
• годовой запас печати стикеров по собственным эскизам от BOMMAN Stickers и много-много других приятных призов.

Что нужно сделать 👇🏻

1. Придумать и нарисовать мем о своей творческой жизни.
2. Поделиться работой на своей стене или в своем сообществе с хэштегом #vktalents_bomman до 9 августа.

Кто будет оценивать работы 👇🏻

• Комиксы [club34202590|BUBBLE],
• Владимир Лопатин [club93024376|Питерский панк],
• Катя Безрукова [club36189533|Обитель KogotsuchiDark KODA] ,
• Руслана Гусь [club43605490|-АтМосФерА-] ,
• [id5939175|Артур Гимальдинов].

Имена сразу 30 победителей мы объявим 20 августа 😉
Удачи!

#Конкурс_Skillbox #vktalents_bomman
-----------------------------------------------------------------------------------------
Хотите узнать, что люди думают о вашем продукте? Читайте статью! Разбираем типичные ошибки в сборе обратной связи, даём советы по улучшению.

#Статья_Skillbox
-----------------------------------------------------------------------------------------
Продолжаем серию лекций «Дизайн, философия и киборги»!

29 июля в 19:00 по Москве философ Серж Степанищев поговорит о британском исследователе видеоигр, теоретике кино, научной фантастики и цифровых медиа Алфи Бауне.

В ходе лекции вы узнаете, как выглядит структура наслаждения, что такое роботические грезы и при чем здесь киборги на кушетке психоаналитика.

Подписывайтесь на бесплатный мини-курс и смотрите лекцию в прямом эфире: https://vk.cc/axxzYk

#Skillbox_Дизайн
-----------------------------------------------------------------------------------------
Допустим, у вас есть продукт и вы хотите на нём заработать. Сколько денег за него брать? Побольше или поменьше? На что ориентироваться? Вдруг задорого не купят? А вдруг продешевишь?

Иван Шкиря рассказывает об универсальных правилах работы с ценой продукта. Да, эти правила не решат всё за вас, но дадут много пищи для размышления!

#Статья_Skillbox
-----------------------------------------------------------------------------------------
Друзья, мы взяли золото и два серебра на Effie Awards 🥳

Жюри отметили наш совместный с агентством Possible Group кейс «Beware of Bots»: https://beware-of-bots.com. Мы придумали бота, который ищет открытые порты принтеров и печатает предупреждение об опасности потерять работу из-за роботов.

Этот кейс принес нам золото в номинации «Наука. Образование» и серебро в номинациях «Новые технологии в коммуникациях» и «Медиаинновация и медиаидея» ⚡️

Спасибо всем вам, кто вдохновляет нас на такие проекты😉 Ура!

#Skillbox_Маркетинг
-----------------------------------------------------------------------------------------
Ностальгии пост.

Помните, кто тоже любит «Мамбу»? А куда надо просто добавить воды? И что нужно выбирать — Tide или кипячение?
Супер, вы настроились на нужную волну. Давайте вспомним рекламные ролики из 90-х, которые в свое время разобрали на цитаты. В комментариях присылайте ссылки на ту рекламу, которая особенно запомнилась вам.

P.S. Если вы не застали эпоху 90-х, все равно посмотрите ролики — у маркетологов тех лет есть, чему поучиться. А если хотите сами показать класс — ждем вас на нашем курсе «Профессия Интернет-маркетолог»: https://vk.cc/ax4vHT

★ Mamba. Рекламная кампания «Все любят "Мамбу", и Сережа тоже» стала одним из ярчайших символов телевидения 90-х. В ролике щедрый мальчик в свой день рождения раздает друзьям сладкие подарки — жевательную конфету Mamba. Он перечисляет всех, кого угощает, и напоследок оставляет одну конфету себе — его зовут Сережа, и он тоже любит Mamba: https://vk.cc/ax4vKa

★ Invite. В 90-е у сока и лимонада была альтернатива — растворимые напитки, такие как Yupi, Zuko и Invite. Последний запомнился слоганом «Просто добавь воды» и рекламным роликом с актером Михаилом Багдасаровым: https://vk.cc/ax4vN5

★ ТВ-Парк. В маркетинговой кампании журнала было несколько роликов, пародирующих рекламные клише того времени. Например, в одном из них очевидная отсылка на ролик Blend-a-med с куриными яйцами. «Исследователь» опускает газету в кислоту, а журнал «ТВ-Парк» — в дистиллированную воду. Как итог — газета растворилась, а журнал остался невредим. Читайте «ТВ-парк», и ваш кислотно-щелочной баланс будет в порядке: https://vk.cc/5DUC5z

#Skillbox_маркетинг #Кейс_Skillbox
-----------------------------------------------------------------------------------------
Хорошо разбираетесь в шрифтах? Давайте узнаем!
Запустите наш тест и попробуйте определить, какой шрифт мы использовали в панграммах (это фразы, в которых есть почти все буквы алфавита).

Предупреждаем: будет нелегко 😁

#Игра_Skillbox #Skillbox_дизайн
-----------------------------------------------------------------------------------------

# Заключение по части 2

Анализ последних 500 публикаций в паблике Skillbox вконтакте позволяет сделать следующие выводы:

1) Нет явной зависимости между днём месяца и днём недели и успешностью публикации. Эффектный публикации проявлялись в разное время месяца и в разные дни недели. При этом наименее эффектные публикации появлялись в первой половине месяца и преимущественно в среду или четверг.

2) Анализ текстов публикаций позволяет сформировать следующие заключения:

    А) Публикации со списком рекомендаций книг и фильмов находят отклик среди подписчиков. Скорее всего, это информация которой удобно делиться и которая формирует мнимый образ эрудированного человека у владельца этой информации в общении со сверстниками:

    Б) Хороший отклик получают записи со списком простых практических советов в работе:

    В) Интересные факты близкие жизни молодёжи и примечательные/оригинальные иллюсрации также находят простой отклик:

    Г) Необходимо отметить, что публикации требующие сложного и развернутого ответа от подписчиков мало заинтересовывают читателей:

    Д) Скорее всего, подписчики во вконтакте достаточно юны, поэтому их мало интересуют публикации нацеленные на старшее поколение, например, курсы для руководителей: